<html>

<!-- Page for to view all static image present in pics/files -->

<body>
<body style="background-color:#000000">
<h1 style="color:white;"> You are visualising <%=picArr.length%> EVM execution traces with graph-tool!</h1>
<style>
figure{
  display: inline-grid;
}
figure figurecaption{
  text-align: center;
}
figure img {
    vertical-align: top;
}
</style>

</body>

<script>
var picArr = <%- JSON.stringify(picArr)%>
console.log("picArr:"+picArr)

for(var blockd=0;blockd<picArr.length;blockd++){
    if(picArr[blockd]==null){
      continue;
    }
    console.log("looking for pic: " + picArr[blockd])
    var picstring= "/pics/";
    picstring=picstring.concat(picArr[blockd])
    var figure = document.createElement("FIGURE") //first generate figure
    figure.setAttribute("id",picArr[blockd]) // set figure id
    var x = document.createElement("IMG");//create image
    x.setAttribute("src",  picstring);
    x.setAttribute("id",picstring)
    x.setAttribute("onerror","this.style.display='none'"); // if the picture is not showing for reasons that
    figure.appendChild(x) //image goes inside the figure
    document.body.appendChild(figure);
    var caption = document.createElement("FIGCAPTION"); //create figure caption
    var text = document.createTextNode(picArr[blockd]) //creat text
    caption.setAttribute("style","color:white")
    caption.style.fontSize="50px"
    caption.appendChild(text) // text goes inside figure caption
    var y = document.getElementById(picArr[blockd])
    y.appendChild(caption) //caption goes inside figure
}


</script>


</html>
