<html>

<!-- Page for to view all static image present in pics/files -->

<body>
<body style="background-color:#000000">
<h1 style="color:white;"> You are visualising <%=picArr.length%> EVM execution traces with graph-tool!</h1>
</body>

<script>
var picArr = <%- JSON.stringify(picArr)%>
console.log("picArr:"+picArr)

for(var blockd=0;blockd<picArr.length;blockd++){

    console.log("looking for pic: " + picArr[blockd])
    var picstring= "/pics/";
    picstring=picstring.concat(picArr[blockd])
    var x = document.createElement("IMG");
    x.setAttribute("src",  picstring);
    x.setAttribute("onerror","this.style.display='none'"); // if the picture is not showing for reasons that
    document.body.innerHTML += "<h1 style=\"color:white\";>"+picArr[blockd]+"</h1>"
    document.body.appendChild(x);
}

</script>


</html>
