<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<style>
img {

    vertical-align: text-top;
}

a:link
{
color:#0000FF,inherit;
size: 16pt
}

a{
style:"font-size:1.2em"
}

</style>


<body style="background-color:#000000">
<body link ="color:white">
<div class="jumbotron" style="background-color:black" id = "mainjumbo">
<a style="color:white">

<img src="ethconviewerlogo.jpg">
<br>
Welcome to EthCon Viewer!!
<br>
You can visualise Ethereum contacts execution  on the Ethereum Virtual Machine on a per-block or per-contract basis:
<br>
<br>
<h1> Testnet </h1>

<a style="font-size:1.5em" href="/graphviztransaction?transaction=0x83d0bb14283bc6cc513e22afa49e4ad38525e72283067861dc2b0567342e0bd2">
  GraphViz visualisation of a transaction that has two graphs! testnet</a>
<br>
<a style="font-size:1.5em" href="/graphviztransaction?transaction=0xdbe8080d8c8c4afc6ccfb3b87d645e1af51581ee82cc8cacd21e0a15648fe2e3">
  GraphViz visualisation of test loop</a>
  <br>

<a style="font-size:1.5em" href="/graphvizInvocation?transaction=0x0844991a354f761cd5494f81483b38fc5b47af3644c1882a0e31c0776f8ba39d_14">
  GraphViz visualisation of a single EVM Invocation</a>
  <br>
<a style="font-size:1.5em" href="/sigmamulti?startblock=1502870&endblock=1502873">
  SigmaJS visualisation of block 1,502,870 to 1,502,873 testnet</a>
<br>
<a style="font-size:1.5em" href="/sigmamulti?startblock=1281279&endblock=1281279">
  SigmaJS visualisation of block 1,281,279 testnet</a>
  <br>
<a style="font-size:1.5em" href="/sigmatransaction?transaction=0xe8dc9a47d4682cc90d9c9b109c24547d9f3387f303892f8279aaef2757a02dc8">
  SigmaJS visualisation of single transaction testnet</a>
<br>
<a style="font-size:1.5em" href="/sigmatransaction?transaction=0xb06f98f3a1276d0861dd8d671de672b1457c2a04b140955ed2b6aa25dd56ee3a&isLabel=1">
   SigmaJS visualisation test loop 50 iterations with labels </a>
<br>
<br>

<a style="font-size:1.5em" href="/gtgetmultiblock?startblock=1281279&endblock=1281280">
 Graphtools visualisation of all transactions in block 1,281,279 and 1,281,280</a>
<br>
<a style="font-size:1.5em" href="/sigmamulti?startblock=1281279&endblock=1281280">
   SigmaJS visualisation of all transactions in block 1,281,279 and 1,281,280</a>


<br>
<br>

<a style="font-size:1.5em" href="/sigmatransaction?transaction=0x0844991a354f761cd5494f81483b38fc5b47af3644c1882a0e31c0776f8ba39d">
  SimgaJS Represetation of testnet large contract with multi stack calls 0x0844991a354f761cd5494f81483b38fc5b47af3644c1882a0e31c0776f8ba39d</a>
<br>
<a style="font-size:1.5em" href="/depthoftransaction?transaction=0x0844991a354f761cd5494f81483b38fc5b47af3644c1882a0e31c0776f8ba39d_4">
SigmaJS depthoftransaction Interesting transaction from report </a>
<br>
<br>

<a style="font-size:1.5em" href="/gtgetmultiblock?startblock=800100&endblock=800200">
    graph-tools multiblock 800100 to 800200 Unusual Shape</a>




<h1> Mainnet </h1>

<a style="font-size:1.5em" href="/gtcontract?contract=0xcafe1a77e84698c83ca8931f54a755176ef75f2c&start=3797426&end=4170580">
  Graph Tools Aragon MultiSig contract! mainnet</a>
<br>
<a style="font-size:1.5em" href="/sigmacontract?contract=0x851b7F3Ab81bd8dF354F0D7640EFcD7288553419&start=3949365&end=3967296">
  SimgaJS Represetation of contract (Gnosis Auction Wallet) mainnet</a>
<br>
<a style="font-size:1.5em" href="/sigmamulti?startblock=3900005&endblock=3900005">SigmaJS Multi visualisation of block 3,900,005</a>
<br>
<a style="font-size:1.5em" href="/gtcontract?contract=0x851b7F3Ab81bd8dF354F0D7640EFcD7288553419&start=3949365&end=3967296">
  Graph Tools visualisation of contract 0x851b7F3Ab81bd8dF354F0D7640EFcD7288553419 (Gnosis Auction Wallet)</a>
<br>
<a style="font-size:1.5em" href="/gtcontract?contract=0xb62ef4c58f3997424b0cceab28811633201706bc&start=4048894&end=4048894">
  Graph Tools visualisation of contract 0xb62ef4c58f3997424b0cceab28811633201706bc from start=4048894  to end=4048894</a>
<br>
<a style="font-size:1.5em" href="/gtgetmultiblock?startblock=1281279&endblock=1281280">
 Graphtools visualisation of all transactions in block 1,281,279 and 1,281,280</a>
<br>
<br>
<a style="font-size:1.5em" href="/gtcontract?contract=0x74C1E4b8caE59269ec1D85D3D4F324396048F4ac&start=3000000&end=4000000">
 graph-tools view of BeerCoin over block 3,000,000 to 4,000,000 </a>
 <br>
<a style="font-size:1.5em" href="/sigmacontract?contract=0x74C1E4b8caE59269ec1D85D3D4F324396048F4ac&start=3000000&end=4000000">
 sigmaJS view of BeerCoin over block 3,000,000 to 4,000,000 </a>
<br>
<br>
<a style="font-size:1.5em" href="/gtcontract?contract=0x6C8f2A135f6ed072DE4503Bd7C4999a1a17F824B&start=900000&end=4000000">
 graph-tools view of EthereumAlarmClock over block 900,000 to 4,000,000 </a>
<br>
 <a style="font-size:1.5em" href="/gtcontract?contract=0xE28e72FCf78647ADCe1F1252F240bbfaebD63BcC&start=317138&end=318088">
  graph-tools view of Augur over blocks 317,139 to 318,088</a>




<h1> Other </h1>
<a style="font-size:1.5em" href="/gtdisplayall">Display all graph tool images generated (Testnet and Mainnet)</a>
<br>
<a style="font-size:1.5em" href="/uploadfile">Upload debug.traceTransaction file manually</a>
<br>
<a style="font-size:1.5em" href="/depthoftransaction?transaction=0x0844991a354f761cd5494f81483b38fc5b47af3644c1882a0e31c0776f8ba39d_4">
  SigmaJS Interesting Transaction, depth = 4 only,  from report!!!</a>
<br>
<a style="font-size:1.5em" href="/deleteContractFromDB?contract=0x6C8f2A135f6ed072DE4503Bd7C4999a1a17F824B&start=900000&end=4000000">
  Delete Contract From DB (defaults to ethereum alarm clock service from block 900,000 to 4,000,000)</a>
  <br>
  <a style="font-size:1.5em" href="/deleteTransactionFromDB?transaction=0xe9cbeec459ec96c79a80c12da56327f299fbddf289eb374ce6f4309ddaacc47f">
    Delete Transaction From DB (defaults to deleting 0xe9cbeec459ec96c79a80c12da56327f299fbddf289eb374ce6f4309ddaacc47f which is in block 1281279 of the testnet)</a>
<br>





</div>








</html>
