<html>
<head>
  <script src="../../sigma.min.js"></script>
  <script src="../../sigma.layout.forceAtlas2.min.js"></script>
  <script src="../../sigma.parsers.json.min.js"></script>


</head>
<style>
  #network-graph {
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: black
  }
</style>


<body>
<div id="headr">
<body style="background-color:#000000">
<h1 style="color:white;"> You are visualising a SigmaJS representation of <%=titleTrans%> </h1>
</div>
<br>

<div id = "network-graph"></div>
<script>

</script>
<script>
//this is working
window.onload=function(){
    console.log("script loaded")
    var sigmaobj = <%- JSON.stringify(sigmaobj_multi) %>
    console.log("sigmaobj is "+JSON.stringify(sigmaobj));
    //dynamically creating divs and then using this to place multiple graphs

    var graphSettings = {
      minNodeSize: 1,
      maxNodeSize: 2,
      // minEdgeSize: 10,
      // maxEdgeSize: 10,
      scalingMode: "inside",
      sideMargin: 10
    }

    var forceConfig = {
      worker: true,
      barnesHutOptimize: true,
      startingIterations: 100,
      // gravity: 5,
      strongGravityMode:true,
      slowDown: 3
    }

    var s = new sigma({
      graph: sigmaobj,
      container: "network-graph",
      settings: graphSettings
    })
    s.settings({
      defaultLabelColor:"#ffffff", //f44242
      labelThreshold: 0,
      defaultLabelSize: 10           //delete this for no labels,
      // labelSize: "proportional"
    });
    //Start Force Atlas algorithm
    s.startForceAtlas2(forceConfig);
    // setTimeout(function() {
    //   s.stopForceAtlas2();
    // },120000);
  console.log("script finished")
// s = new sigma({
//   graph: sigmaobj,
//   container: "network-graph"
// })
// s.refresh();
// s.startForceAtlas2();


}//onload
</script>





</body>






</html>
